parameters:
    level: 5
    paths:
        - src/Api
        - src/Model
    excludePaths:
        - vendor
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Property .* has no type specified#'
        - '#Method .* has parameter .* with no type specified#'
        - '#Method .* has no return type specified#'
